@import "base.css";

.checkout-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px 40px 20px 40px;
  min-height: 90vh;
}

.checkout-header {
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.checkout-header h1 {
    font-size:32px;
    font-weight:700;
    color:var(--brown);
}

.checkout-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  align-items: start;
}

.checkout-form,
.order-summary {
  background: var(--white-smoke);
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.08);
}

.billing-details,
.shipping-details,
.payment-method {
  margin-bottom: 20px;
}

.billing-details h3,
.shipping-details h3,
.payment-method h3 {
  font-size: 0.9rem;
  color: var(--brown);
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f3f3f3;
}

.billing-form-group,
.shipping-form-group,
.coupon-control {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: left;
  color: var(--brown);
}

.billing-form-control,
.shipping-form-control,
.payment-form-control,
.coupon-form-control {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--beige);
  background: var(--white-smoke);
  color: var(--brown);
  border-radius: 12px;
  outline: none;
  font-size: 0.7rem;
  transition: all 0.3s ease;
}

.billing-form-control:focus,
.shipping-form-control:focus,
.payment-form-control:focus,
.coupon-form-control:focus {
  border-color: var(--brown);
  box-shadow: 0 0 0 4px rgba(133, 90, 63, 0.15);
}

.section-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.payment-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.payment-option {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--brown);
}

.payment-option input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;

  width: 18px;
  height: 18px;

  border: 2px solid var(--brown);
  border-radius: 50%;

  cursor: pointer;
  position: relative;
}

.payment-option input[type="radio"]:checked {
  border-color: var(--brown);
}

.payment-option input[type="radio"]:checked::before {
  content: "";
  width: 10px;
  height: 10px;

  background: var(--brown);

  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.payment-form {
  margin-top: 20px;
  display: grid;
  gap: 15px;
}

.payment-description {
  display: flex;
  justify-content: flex-end;
}

.card-preview {
  width: 100%;
  max-width: 420px;
  height: 220px;

  border-radius: 18px;
  padding: 20px;

  color: #fff;
  position: relative;
  overflow: hidden;

  background: linear-gradient(135deg, var(--brown), #d2691e);
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

.card-preview::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
  opacity: 0.5;

  pointer-events: none;
  z-index: 1;
}

.cart-top,
.card-row,
.card-number,
.card-bottom {
  position: relative;
  z-index: 2;
}

.payment-form-control {
    background: transparent;
    border: none;
    color: var(--white-smoke);
    outline: none;
}

.payment-form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-type {
  font-size: 14px;
  width: 100px;
  font-weight: 700;
}

.bank-name {
  width: 140px;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: right;
  font-weight: 700;
  margin-left: auto;
}

.chip-row {
  margin-top: 15px;
}

.card-chip {
  width: 55px;
  height: 40px;
  border-radius: 8px;
  background: linear-gradient(135deg, #d4af37, #f5e27a);
}

.card-number {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.card-box {
  /* width: 70px; */
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 600;
}

.card-box::placeholder {
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 600;
  color: var(--white-smoke);
}

.card-bottom {
  position: absolute;
  bottom: 15px;
  left: 20px;
  right: 20px;

  display: flex;
  justify-content: space-between;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.9;
}

.right-side {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
}

.card-expiry {
  width: 80px;
  font-weight: 600;
  font-size: 14px;
}

.cvv-input {
    width: 60px;
    font-weight: 600;
    font-size: 14px;
}

.order-summary h2 {
  font-size: 1.2rem;
  color: var(--brown);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.order-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px;
  padding: 15px 0;
  border-bottom: 2px solid #f3f3f3;
  justify-items: start;
  align-items: center;
}

.item-name {
  font-size: 14px;
  font-weight: 600;
  color: var(--brown);
  opacity: 0.9;
}

.item-qty {
  color: var(--brown);
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
  margin-right: 20px;
}

.item-price {
  font-weight: 600;
  font-size: 15px;
  color: var(--brown);
  opacity: 0.9;
}

.coupon-input {
  margin-top: 25px;
}

.apply-coupon-btn {
  width: 200px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--brown);
  border-radius: 12px;
  background: var(--beige);
  color: var(--brown);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.apply-coupon-btn:hover {
  background: var(--brown);
  color: var(--white-smoke);
  transform: translateY(-1px);
}

.coupon-card {
  margin-top: 15px;
  padding: 15px;
  border-radius: 15px;
  background: #f5fff4;
  border: 1px solid #c9efc6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coupon-info h4 {
  color: #2f8f2f;
  margin-bottom: 4px;
}

.coupon-info p {
  font-size: 14px;
  color: #666;
}

.remove-coupon-btn {
  border: none;
  background: #ff4d4d;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.order-total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--brown);
  opacity: 0.95;
}

.final {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 2px dashed #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: var(--brown);
}

.checkout-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.place-order-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  background: #2f8f2f;
  color: var(--white-smoke);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.cancel-order-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  background: #aa0202;
  color: var(--white-smoke);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.place-order-btn:hover {
  background: #2f8f2f;
  opacity: 1;
  box-shadow: 0 5px 15px rgba(47, 143, 47, 0.4);
}

.cancel-order-btn:hover {
  background: #aa0202;
  opacity: 1;
  box-shadow: 0 5px 15px rgba(170, 2, 2, 0.4);
}

@media (max-width: 900px) {

  .checkout-page {
    grid-template-columns: 1fr;
  }

  .checkout-container {
    margin: 20px;
  }

  .checkout-header h1 {
    font-size: 26px;
  }

}

@media (max-width: 500px) {

  .checkout-form,
  .order-summary {
    padding: 18px;
  }

  .order-item {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .order-total {
    font-size: 18px;
  }

}